*.ipynb_checkpoints

# return output and error files
examples/Mandelbrot/*.o*
examples/LAMMPS/*.o*
examples/Mandelbrot/*.e*
examples/LAMMPS/*.e*

# images created in Mandelbrot
# examples/Mandelbrot/*.png

# folder contains simple scripts and codes to get familiar with Myriad
try_sth_on_Myriad/

# jupyter folder
jupyter/
