.ipynb_checkpoints/
__pycache__/

# return files
examples/Mandelbrot/*.o
examples/Mandelbrot/*.e
examples/LAMMPS/*.e
examples/Mandelbrot/*.po
examples/LAMMPS/*.po
examples/Mandelbrot/*.pe
examples/LAMMPS/*.pe

# shell files generated in examples
examples/**/*.sh

# files created in LAMMPS
examples/LAMMPS/log.lammps.

# images created in Mandelbrot
examples/Mandelbrot/*.png

# folder contains simple scripts and codes to get familiar with Myriad
try_sth_on_Myriad/

# jupyter folder
jupyter/
